body{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 40px;
}

.panel-vertical{
    float: left;
    width: 260px;
}

.panel-header{
    border: 3px solid blue;
    background-color: black;
}

.panel-body{
    border: 3px solid green;
    background-color: gray;
}

.panel-linkbar{
    padding: 10px;
    display: block;
}

.container{
    float: right;
    width: 70%;
}

.container-heading{
    border: 3px dotted black;
    padding: 20px;
}

.container-body{
    padding: 20px;
    border: 3px dotted gray;
}