body{
    background-color: beige;
}

h1, h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 30px;
}

p{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
}

a{
    text-decoration: none;
}

.page{
    max-width: 960px;
    padding: 40px 0;
    margin: 0 auto;
}

.panel-vertical{
    float: left;
}

.panel-header{
    background-color: darkgrey;
    padding: 10px 8px;
}

.panel-linkbar{
    padding: 10px 0px;
    display: block;
    background-color: white;
    text-align: center;
}

.ul-vertical{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.link-vertical{
    display: block;
    color: #000;
    padding: 10px 8px;
    font-size: 15px;
    text-decoration: none;
}

.link-vertical:hover{
    background-color: #084D08;
    color: white;
}

.link-vertical-current{
    background-color: #032103;
    color: white;
}

.link-img{
    width: 42px;
    height: 42px;
    padding: 10px; 
}

.container{
    float: right;
    width: 672px;
}

.container-heading{
    padding: 20px;
    background-color: white;
}

.container-body{
    padding: 20px;
    background-color: whitesmoke;
}

.img-left{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}


@media screen and (max-width: 960px){
    body{
        background-color: cadetblue;
        
    }

    h1{
        font-size: 19px;
    }

    .panel-vertical{
        width: 100px;
        margin: 0 5%;
    }

    .panel-linkbar{
        display: table;
    }

    .container{
        margin-right: 5%;
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    body{
        background-color: whitesmoke;
    }

    .panel-vertical {
        float: none;
        width: auto;
    }

    .panel-header{
        float: left;
    }
    
    a.link-vertical {
        float: right;
    }

    .container{
        margin: 0 5%;
        width: 90%
    }

    .panel-linkbar{
        position: fixed;
        bottom: 0;
        width: 90%;
        display: table;
    }

    @media screen and (max-width: 680px){
        body{
            background-color: whitesmoke;
        }
    
        .page{
            padding: 0;
            margin: 0;
        }

        .panel-vertical {
            float: none;
            width: auto;
            margin: 0;
        }
    
        .panel-header{
            float: left;
        }
        
        a.link-vertical {
            float: right;
        }
    
        .container{
            margin: 0;
            width: 100%;
        }
    
        .panel-linkbar{
            position: fixed;
            bottom: 0;
            width: 100%;
            display: table;
        }
}