body{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: beige;
}

h1, h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 30px;
}

p{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
}

a{
    text-decoration: none;
}

.panel-vertical{
    float: left;

}

.panel-header{
    background-color: whitesmoke;
    padding: 10px 8px;
}

.panel-linkbar{
    padding: 10px 0px;
    display: block;
    background-color: white;
}

.ul-vertical{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.link-vertical{
    display: block;
    color: #000;
    padding: 10px 8px;
    font-size: 15px;
    text-decoration: none;
}


.link-img{
    width: 42px;
    height: 42px;
    padding: 10px; 
}

.container{
    float: right;
    width: 70%;
}

.container-heading{
    padding: 20px;
    background-color: white;
}

.container-body{
    padding: 20px;
    background-color: whitesmoke;
}

.img-left{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

